ul {
    list-style: none;
    margin:0 0 0 150px;
    padding:23px;
    overflow: hidden;
    background-color: #000000;
    
}
li {
   display: inline-block;
   position: relative;
   }
.logo img {
    position: absolute;
    margin-top: 5px;
    margin-left: 0px;
    height: 100px;
    width: 100%;
}
nav a {
    width: 100px;
    padding: 20px 15px;
    display: block;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    color: black;
    font-weight: bold;
}
nav a:hover {
    color: darkslategrey;
}
.site-discription {
    font-size: xx-large;
    font-weight: bolder;
    text-align: center;
    color: aliceblue;
    background-color: #000000;
}
.site-discription a {
    text-align: center;
    font-size: large;
    font-weight: bold;
    padding-top: 25%;
    color:aliceblue
    

}
.site-content {
    padding: 100px;
    padding-left: 25%;
    display: flex;
    font-weight: bold;
    background-color: black;
    color: aliceblue;

 
}
.lower-page {
    text-align:center;
    font-size:xx-large;
    font-weight: bold;
    color: aliceblue;
    background-color: #000000;
}
.footer {
    position: absolute;
    margin-bottom: 5px;
    margin-right: 0px;
    width: 100%;
    background-color: #000000;
   
    
}
.background {
    position: relative; 
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000000;
   
}
.companyContent {
    position: relative;
    text-align: center;
    color: black;
    background-color: black;
  }
  .companyText {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    inline-size: 85%;
    font-weight: bold;
    color:aliceblue;
    text-align: center;
    line-height: 2;}
    
  
.background::before {
    content: "";
    background-image: url(SDFbackground.png);
    background-size:auto;
    position: absolute;
    top: 0;
    right: 0px;
    bottom: 0;
    left: 32%;
    opacity: 0.75;
    background-repeat: no-repeat;
   
}
.companycontent {
    position: absolute;
    color: #000000;  
    font-size: large;
    font-weight: bold;
    text-align: center;
    isolation: isolate;
    
       
}
.contact {
    background-color: #000000;
    width: 50%;
    float: left;
    padding-right: 50%
}
.contactdiscription { 
    float: right;
    background-color: black;
    color: aliceblue;
    font-size: x-large;
    Width: 50%;
    text-align: center;
    position: relative;
    bottom: 250px; 
    line-height: 2;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #45a049; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #45a049;
    color:aliceblue;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: rgb(0, 128, 100);
  }
  
  /* Add a background color and some padding around the form */
  .container {
    border-radius: 5px;
    background-color: black;
    padding: 20px;
  }